.titleBrightBg {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
  letter-spacing: 1.2px;
  line-height: 1.2;
}

.titleDarkBg {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: var(--primary-color);
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
  letter-spacing: 1.2px;
  line-height: 1.2;
}

.subtitleBright {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: var(--primary-color);
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
  letter-spacing: 0.6px;
  line-height: 1.4;
}

.subtitleDark {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
  letter-spacing: 0.6px;
  line-height: 1.4;
  margin-top: 25px;
}
